body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: auto;
    width: 100%;
    max-width: 600px;
}
.header-buttons {
    align-self: center;
    width: max-content;
    display: inline-block;
}

.dropdown-content {
    display: none;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
}
   

ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flag {
    border: none;
    background-color: transparent;
    padding-top: 6px;
}

.header-buttons:focus-within .dropdown-content {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

/*makes dropdown animated*/
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.choice-button {
    font-size: 75px;
    width: 100px;
    cursor: pointer;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}   

.choice-button:hover {
    background-color: grey;
}

.choice-button:active {
    background-color: grey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#container {
    font-size: large;
    text-align: center;
}

#resetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.buttonYes {
    font-size: 20px;
}

